[core]
	editor = vim
	excludesfile = /home/gregoire/.gitignore_global
[user]
	email = gregoirehebert@gheb.fr
	name = Grégoire Hébert
[alias]
    # edit last commit
    amend = commit --amend -C HEAD
    
    # cancel last local commit
    undo = reset --soft HEAD^
    
    # rapid checkup
    changes = diff --name-status
    dic = diff --cached
    diffstat = diff --stat
    
    # condensed logs
    hist = log --pretty=oneline --abbrev-commit --graph --decorate
    lg = log --graph --pretty=tformat:\"%Cred%h%Creset -%C(cyan)%d %Creset%s %Cgreen(%an %cr)%Creset\" --abbrev-commit --date=relative

    
    # show changes since last pull
    lc = !git oneline ORIG_HEAD.. --stat --no-merges
    
    # add some files to commit
    addm = !git ls-files -m -z | xargs -0 git-add && git status
    addu = !git ls-files -o --exclude-standard -z | xargs -0 git-add && git status
    rmm = !git ls-files -d -z | xargs -0 git-rm && git status
    
    # open on textMate last uncommited files
    mate = !git ls-files -m -z | xargs -0 mate
    mateall = !git ls-files -m -o --exclude-standard -z | xargs -0 mate
    
    # open on vi last uncommited files
    vi = !vi $(git ls-files -m -z)
    viall = !vi $(git ls-files -m -o --exclude-standard -z)
    
    # show all users that did commit
    who = shortlog -sne

